.form {
	&-wrapper {
		width: 100%;

		//    margin-bottom: 20px;
	}

	&-label {
		display: block;

		margin-bottom: 8px;

		font-size: 14px;
	}

	&-label span {
		color: var(--main-red);
	}

	&-control {
		display: flex;
		align-items: center;

		width: 100%;
		height: 100%;
		padding: 7px 12px;

		background: #fff;
		border: 1px solid #e3e3e3;

		// border: 1px solid var(--main-grey);
		border-radius: 4px;

		transition: 0.1s linear;
	}

	&-control__input {
		cursor: inherit;

		flex: 1 1 auto;

		font-size: 14px;
		line-height: 100%;
		color: var(--control-color);
	}

	&-control:focus-within {
		color: #333;

		background-color: #fff;
		border-color: var(--control-focus-color);
		box-shadow: none;
	}

	&_disabled &-control {
		cursor: not-allowed !important;

		background-color: #e9ecef;
	}

	&-error {
		margin-top: 5px;

		font-size: 12px;
		color: var(--main-red);
	}
}
