.document__tab {
	display: flex;
	gap: 20px;

	.document__tab-nav {
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 40px;
		height: 25px;

		color: var(--main-green);

		background-color: #f9fafb;
		border-radius: 8px;

		&:hover {
			background-color: #ebebeb;
		}
	}

	.document__tab-nav.active {
		color: #fff;

		background-color: var(--main-green);
	}
}
