.client-details {
	height: max-content;
	padding-bottom: 50px;

	form {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 15px;

		height: max-content;
		padding: 10px;
	}

	input {
		text-align: left;
	}

	.form-control {
		height: 40px;
	}

	button {
		height: 40px;
		margin-top: auto;
		padding: 7px 15px;

		font-size: 16px;
		color: #fff;

		background-color: #1abc9c;
	}
}
