.crosstab {
	.filter-box {
		overflow-y: auto;
	}

	.filter-closed {
		margin-left: -330px;
	}

	.filters {
		height: max-content !important;

		.active {
			color: #FFF !important;

			background-color: #1ABC9C !important;
		}

		.select {
			display: none !important;
		}

		@media (max-width: 991px) {
			display: block !important;
		}

		.close {
			scale: 0;

			transition: all 100ms;
		}

		.hasFilter {
			scale: 1;
		}
	}

	.range-slider {
		position: relative;
		z-index: 1000;

		margin: 20px 10px 0;

		.left-border,
		.right-border {
			position: absolute;
			top: 5px;

			display: block;
			width: 10px;
			height: 12px;

			background-color: #EBE9E9;
		}

		.left-border {
			left: 0;

			margin-left: -10px;

			border-radius: 10px 0 0 10px;
		}

		.right-border {
			right: 0;

			margin-right: -10px;

			border-radius: 0 10px 10px 0;
		}
	}

	.rc-slider {
		z-index: 2;
	}

	input[type="button"] {
		float: left;
		height: 32px;
		padding: 0 12px;

		color: #A0A0A0;
		color: #444;
		font-size: 16px;
		line-height: 30px;

		background: #F9F9F9;

		border: 1px solid #D7D8DA;
		border-radius: 3px;
		cursor: pointer;

		user-select: none;
		user-select: none;
		user-select: none;
		user-select: none;
	}

	.tooltip {
		position: absolute;
		top: -20px;
		left: 0;

		width: max-content;
		padding: 1px 5px;

		color: #FFF;
		font-size: 11px;
		line-height: 1.333;

		background: #1ABC9C;
		border-radius: 2px;
		transform: translate(-50%, 0);

		&::after {
			position: absolute;
			bottom: -6px;
			left: 50%;

			display: block;
			width: 0;
			height: 0;
			margin-left: -3px;
			overflow: hidden;

			border: 3px solid transparent;
			border-top-color: #1ABC9C;

			content: "";
		}
	}

	.ticks {
		margin: 10px 10px 0 !important;
	}
}

@media (max-width: 991px) {
	.crosstab {
		height: calc(100% - 56px) !important;
		margin-top: 56px !important;

		background-color: #FFF !important;

		form {
			width: 100%;
		}

		.filter-closed {
			margin-left: -100%;
		}

		#filters-box {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1000;

			width: 100%;
			height: calc(100%);
			padding: 0;
			padding-bottom: 20px;

			background: #FFF;

			.filters {
				width: 100%;
				height: 100%;

				box-shadow: none;

				.select {
					display: block !important;
				}

				.rangePicker {
					position: relative;
					z-index: 10;
				}

				[class*="menu"] {
					z-index: 100;
				}

				.close {
					display: none;
				}
			}
		}
	}
}