.crosstab {
	--auto-grid-min-size: 13rem;

	.flats {
		display: grid;
		grid-auto-rows: minmax(min-content, max-content);
		grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr)) !important;
		gap: 20px;

		padding: 10px 30px;

		.card {
			will-change: transform;
			cursor: pointer;

			position: relative;

			display: grid;

			width: 100%;
			height: 100%;

			color: black;
			text-align: center;
			text-decoration: none;

			background: #f9f9f9;
			border: 1px solid #d7d8da;
			border-radius: 5px;

			transition: transform 0.2s ease, opacity 0.2s ease, box-shadow 0.2s;

			.top {
				height: max-content;
				padding: 10px 0;

				border-bottom: 1px solid #d7d8da;

				h2 {
					margin: 0;

					font-size: 14px;
					font-weight: bold;
					color: #444;
					text-align: center;
				}

				p {
					margin-top: 7px;

					font-size: 10px;
					font-style: normal;
					color: #a0a0a0;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 0.5px;
				}
			}

			.center {
				min-height: 200px;
				padding: 15px 5px 0;

				border-bottom: 1px solid #d7d8da;

				img {
					width: 100%;
					max-width: 65%;
					height: 103px;
					max-height: 171px;
					margin: 0 auto;

					object-fit: contain;
				}

				.coast-wrap {
					display: flex;
					justify-content: flex-end;

					width: 100%;
					margin-top: 10px;
					padding: 0 10px 15px;
				}

				.coast {
					display: inline-block;

					margin-left: auto;
					padding: 5px 12px;

					font-size: 12px;
					font-weight: bold;

					background-color: #ffd060;
					border-radius: 4px;

					span {
						font-size: 16px;
					}
				}
			}

			.bottom {
				display: flex;

				width: 100%;
				height: max-content;

				border-bottom: 1px solid #d7d8da;

				.surface {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					width: 100%;
					padding: 10px 0;

					border-right: 1px solid #d7d8da;

					.name {
						float: left;

						width: 100%;
						padding: 0;

						font-size: 12px;
						line-height: 1em;
						color: rgb(0 0 0 / 60%);
						text-align: center;
					}

					.val {
						float: left;

						width: 100%;
						margin-top: 5px;

						font-size: 14px;
						font-weight: bold;
						line-height: 1em;
						color: #444;
						text-align: center;
					}
				}

				.room-count {
					@extend .surface;
				}
			}

			.floors {
				position: relative;

				display: flex;

				width: 100%;
				height: max-content;

				word-break: break-all;

				button {
					display: flex;
					align-items: center;
					justify-content: center;

					width: 100%;
					padding: 10px 0;

					font-size: 13px;
					color: #fff;

					background: #1abc9c;
					border-radius: 0 0 5px 5px;

					strong {
						margin: 0 3px;

						color: #fff;
					}

					svg {
						width: 13px;
						height: 14px;
						margin-left: 7px;

						path {
							fill: #fff;
						}
					}
				}

				.flats-modal {
					user-select: none;

					position: absolute;
					z-index: 10;
					bottom: 100%;

					overflow-y: auto;
					display: none;

					width: 100%;
					height: 150px;

					background: #fff;
					border-top: 1px solid #d7d8da;
					border-radius: 5px 5px 0 0;
					box-shadow: 0 6px 20px 7px rgb(0 0 0 / 10%);

					.flat {
						cursor: pointer;

						display: flex;

						margin: 0;
						padding: 8px 15px;

						font-size: 13px;

						border-bottom: 1px solid #ebedf1;

						.position {
							width: 100%;

							border-right: 1px solid #ebedf1;

							.number {
								display: flex;
								align-items: center;
								justify-content: flex-start;

								[class*="status"] {
									display: inline-block;

									width: 12px;
									height: 12px;
									margin-right: 5px;

									vertical-align: bottom;

									border-radius: 2px;
								}
							}

							p {
								width: max-content;
							}
						}

						.price {
							display: flex;
							flex-direction: column;
							align-items: flex-end;

							width: 100%;
						}
					}
				}
			}
		}
	}
}
