.client-details {
	height: max-content;
	padding: 30px;
	padding-bottom: 50px;

	form {
		display: grid;
		gap: 15px;

		height: max-content;
		padding: 10px;
	}

	.user-details {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 20px;
		column-gap: 30px;
	}

	input {
		text-align: left;
	}

	.react-tel-input {
		width: 100%;
	}

	.form-control {
		width: 100%;
		height: 40px;
	}

	.form-label {
		text-align: left;
		text-transform: capitalize;
	}

	.form-wrapper {
		max-height: 67px;
	}

	.printToDoc {
		height: 40px;
		margin-top: auto;
		padding: 7px 15px;

		font-size: 16px;
		color: #fff;

		background-color: #1abc9c;
	}

	.tariff {
		display: flex;
		gap: 30px;

		padding: 30px;

		&__card {
			cursor: pointer;

			display: grid;
			gap: 10px;

			width: max-content;
			min-width: 200px;
			height: 200px;
			padding: 15px;

			border-radius: 3px;
			box-shadow: rgb(99 99 99 / 25%) 0 2px 8px 0;

			// background-color: rgba(26, 188, 156, 0.048);

			p {
				display: flex;
				gap: 10px;
				align-items: center;
				justify-content: space-between;
			}
		}
	}

	.calculator {
		&__numbers {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 30px;

			margin-bottom: 30px;
		}

		button {
			justify-self: center;

			width: 200px;
		}
	}

	table {
		margin-bottom: 30px;
	}

	.submit {
		grid-column: 1 / -1;
		justify-self: center;

		width: 100%;
		max-width: 300px;
		margin-top: 50px;
	}

	input::placeholder {
		opacity: 0.3;
	}
}
