.client-details {
	height: max-content;
	padding: 30px;
	padding-bottom: 50px;

	form {
		display: grid;
		gap: 15px;

		height: max-content;
		padding: 10px;
	}

	.user-details {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 30px;
		row-gap: 20px;
	}

	input {
		text-align: left;
	}

	.react-tel-input {
		width: 100%;
	}

	.form-control {
		height: 40px;
		width: 100%;
	}

	.form-label {
		text-align: left;
		text-transform: capitalize;
	}

	.form-wrapper {
		max-height: 67px;
	}

	.printToDoc {
		height: 40px;
		margin-top: auto;
		padding: 7px 15px;

		font-size: 16px;
		color: #fff;

		background-color: #1abc9c;
	}

	.tariff {
		padding: 30px;
		display: flex;
		gap: 30px;

		&__card {
			width: max-content;
			min-width: 120px;
			display: grid;
			gap: 10px;
			padding: 15px;
			cursor: pointer;
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

			background-color: rgba(26, 188, 156, 0.048);

			p {
				display: flex;
				justify-content: space-between;
				gap: 10px;
			}
		}
	}

	.calculator {
		&__numbers {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 30px;
		}

		button {
			width: 200px;
			justify-self: center;
		}
	}

	table {
		margin-bottom: 30px;
	}

	.submit {
		margin-top: 50px;
		grid-column: 1 / -1;
		justify-self: center;
		width: 100%;
		max-width: 300px;
	}
}