.row-gap {
	display: grid;
	row-gap: 15px;
}

.payment-type {
	padding-bottom: 40px;

	.left {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 10px;

		height: max-content;
	}

	.right {
		padding: 10px;

		border-radius: 3px;
	}

	&__swiper {
		margin: 0 !important;
	}

	&__slider {
		display: flex;
		justify-content: center;
		align-items: center;

		.swiper {
			max-width: 400px
		}
	}

	&__choice {
		display: grid;
		height: max-content;
		padding: 10px;
	}

	form {
		display: grid;
		grid-template-columns: 1fr 1fr 200px 200px;
	}

	&__table {
		width: 100%;
	}

	.initial-fee {
		text-align: left;
	}

	.btn {
		&--next {
			padding: 7px 15px;

			font-size: 16px;
			color: #fff;

			background-color: #1abc9c;
		}
	}

	@media (max-width: 991px) {
		grid-template-columns: 1fr;
	}
}