.toolTip__wrapper {
	position: relative;

	display: inline-block;

	padding: 0 5px;

	vertical-align: middle;

	img {
		width: 16px;
		height: 21px;
	}
}

.toolTip__content {
	position: absolute;
	top: -80%;
	left: calc(100% + 10px);

	min-width: 220px;
	padding: 10px;

	color: #fff;
	text-align: center;

	opacity: 0;
	background-color: #000;

	transition: opacity 0.3s ease-in;
}

.toolTip__content::before {
	content: "";

	position: absolute;
	top: 50%;
	left: -8px;
	transform: rotate(45deg) translate(0, -50%);

	width: 10px;
	height: 10px;

	background-color: #000;
}

.toolTip__content.active {
	// display: block;
	opacity: 1;
}
