@import "./layout";
@import "./reset";
@import "./responsive";
@import "./fonts";
@import "./common";

.translate {
	&__input {
		padding: 10px;

		color: #000;

		border: 1px solid var(--main-grey);
		border-radius: 5px;
	}
}

.min-width {
	&_120 {
		min-width: 120px;
	}
}

.max-width_700 {
	max-width: 700px;
}

.mr {
	&_10 {
		margin-right: 10px;
	}
}

.h {
	&_120 {
		height: 120px;
	}
}